<% content_for :breadcrumb do %> 	
        <div class="page-header pull-left">
            <div class="page-title">
                Show Target: <em> <%=@target.name%> </em></div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li><a href="/targets#">Targets</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Show</li>
        </ol>
<%end%>
<% content_for :main_body do %> 	
        <div class="col-md-12"><h3></h3>
            <div class="row mtl">
                <div class="col-md-3">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Profile
                        </div>
                        <div class="panel-body pan">
                            <%= render 'stats' %>
                        </div>
                    </div>
                </div>    
                <div class="col-md-9">
                    <div class="panel panel-grey">
                        <div class="panel-heading">
                            Show
                        </div>
                        <div class="panel-body pan">
                            <div class="p-6">
                              <div class="space-y-4">
                                <div><strong>Target ID:</strong> <%= @target.id %></div>
                                <div><strong>Name:</strong> <%= @target.name %></div>
                                <div><strong>Active Time:</strong> <%= @target.activate_time&.strftime('%m/%d/%Y %H:%M') %> to <%= @target.expire_time&.strftime('%m/%d/%Y %H:%M') %></div>
                                <div><strong>Domains:</strong> <%= @target.list_of_domains&.split(',')&.first(5)&.join(', ') %><%= ' ...' if @target.list_of_domains&.split(',')&.length.to_i > 5 %></div>
                                <div><strong>Countries:</strong> <%= @target.country&.split(',')&.join(', ') %></div>
                                <div><strong>Device Types:</strong> <%= @target.devicetype&.split(',')&.join(', ') %></div>
                              </div>
                            </div>
                            <%= link_to 'Edit', edit_target_path(@target) , class:"btn btn-default btn-sm" %> |
                            <%= link_to 'Targets', targets_path , class:"btn btn-default btn-sm"%>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
<%end%>

