<% content_for :breadcrumb do %> 	
        <div class="page-header pull-left">
            <div class="page-title">
                Show Rule: <em> <%=@rtb_standard.name%> </em></div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li><a href="/rtb_standards#">Rules</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Show</li>
        </ol>
<%end%>
<% content_for :main_body do %> 	
        <div class="col-md-12"><h3></h3>
            <div class="row mtl">
                <div class="col-md-3">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Profile
                        </div>
                        <div class="panel-body pan">
                            <%= render 'stats' %>
                        </div>
                    </div>
                </div>    
                <div class="col-md-9">
                    <div class="panel panel-grey">
                        <div class="panel-heading">
                            Show
                        </div>
                        <div class="panel-body pan">
                            <div class="p-6">
                              <div class="space-y-4">
                                <div><strong>Rule ID:</strong> <%= @rtb_standard.id %></div>
                                <div><strong>Name:</strong> <%= @rtb_standard.name %></div>
                                <div><strong>Description:</strong> <%= @rtb_standard.description %></div>
                                <div><strong>RTB Specification:</strong> <%= @rtb_standard.rtbspecification %></div>
                                <div><strong>Operator:</strong> <%= @rtb_standard.operator %></div>
                                <div><strong>Operand:</strong> <%= @rtb_standard.operand %></div>
                                <div><strong>RTB Required:</strong> <%= @rtb_standard.rtb_required ? 'Yes' : 'No' %></div>
                              </div>
                            </div>
                            <%= link_to 'Edit', edit_rtb_standard_path(@rtb_standard), class:"btn btn-default btn-sm" %> |
                            <%= link_to 'Rules', rtb_standards_path, class:"btn btn-default btn-sm" %>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
<%end%>

