<% content_for :breadcrumb do %> 
       <div class="page-header pull-left">
            <div class="page-title">
                Real Time Bidder Reports 
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Reports</li>
        </ol>
<%end%>

<% content_for :main_body do %> 
<style>
    label {
       margin-right: 10px;
    }
</style>
<div class="page-content">
    <div id="tab-general">
        <%= form_tag reports_home_path, method: "get", class: "inline-flex items-center gap-4 mb-6 p-4 bg-zinc-900 border border-zinc-700 rounded-lg" do %>
            <div class="col-lg-12 pull-left">
                <%= submit_tag "Refresh", class: "btn btn-default btn-sm" %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="load_time"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="text-sm font-medium text-zinc-300">Start</label>
                <%= number_field_tag :interval_ago, @interval_ago, class: 'input-sm number_field bg-zinc-900 border border-zinc-700 rounded px-3 py-1.5 text-white', style: "width:75px;" %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= select_tag :interval_sym,
                    options_for_select(@interval_options.collect { |v| [v[:label], v[:sym]] }, @interval_sym),
                    class: "input-sm nosearch bg-zinc-900 border border-zinc-700 rounded px-3 py-1.5 text-white"
                %>
                &nbsp;&nbsp;ago
                <br/> <br/>
            </div>
            <div class="col-lg-12">
                <% selInt = @interval_options.find{|o| o[:sym].eql?(@interval_sym)} %>
                <%= render :partial => 'requeststable', 
                            :locals => {
                                :interval_ago => @interval_ago, 
                                :interval_sym => @interval_sym,
                                :interval_secs => selInt[:secs],
                                :interval_label => selInt[:label],
                                :label => "Last 8 Hours Totals",
                            }
                %>  
            </div> 
        <%end%>
    </div>
</div> 



<%end%>

