<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <title><%=CUSTOMER_NAME%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "styles/font-awesome.min" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
</head>
<body class="h-full" data-controller="darkmode sidebar">
    <div>
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">

               <button
                    type="button"
                    data-action="click->sidebar#toggle"
                    class="sidebar-toggle"
                >
                    <i class="fa fa-bars"></i>
                </button>

                <a id="logo" href="/" class="navbar-brand">
                    <%= image_tag("logo.png", alt: CUSTOMER_NAME, class: "h-8 inline-block dark:invert") %>
                </a>
            </div>
            <div class="topbar-main">
                <button
                    type="button"
                    data-action="click->sidebar#toggle"
                    class="sidebar-toggle hidden-xs"
                >
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    <li>
                        <button
                            type="button"
                            data-action="click->darkmode#toggle"
                            class="dark-mode-toggle"
                            title="Toggle dark mode"
                        >
                            <i class="fa fa-moon-o dark:hidden"></i>
                            <i class="fa fa-sun-o hidden dark:inline"></i>
                        </button>
                    </li>
                    <li class="dropdown topbar-user">
                        <a data-hover="dropdown"  data-toggle="dropdown" href="#" class="dropdown-toggle"  >
                            <span class="hidden-xs"><%=current_user.name%></span>&nbsp;<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                            <li><a href="/myaccount"><i class="fa fa-user"></i>My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-key"></i>Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            </nav>
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll" style="overflow:initial">
                <ul id="side-menu" class="nav ">                    
                     <div class="clearfix"></div>
                    <li><a href="/dashboards"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">Dashboard</span></a>
                    </li>
                    <li><a href="/campaigns"><i class="fa fa-flag-o fa-fw">
                        <div class="icon-bg bg-pink"></div>
                        </i><span class="menu-title">Campaigns</span></a>                       
                    </li>
                    
                    <li><a href="/banners"><i class="fa fa-bookmark-o fa-fw">
                        <div class="icon-bg bg-green"></div>
                        </i><span class="menu-title">Banners</span></a>                       
                    </li>
                    
                    <li><a href="/banner_videos"><i class="fa fa-file-video-o fa-fw">
                        <div class="icon-bg bg-violet"></div>
                        </i><span class="menu-title">Videos</span></a>
                    </li>

                    <li><a href="/targets"><i class="fa fa-crosshairs fa-fw">
                        <div class="icon-bg bg-violet"></div>
                        </i><span class="menu-title">Targeting</span></a>
                    </li>

                    <li><a href="/rtb_standards"><i class="fa fa-code fa-fw">
                        <div class="icon-bg bg-violet"></div>
                        </i><span class="menu-title">Rules</span></a>
                    </li>

                    <li><a href="/lists"><i class="fa fa-upload fa-fw">
                        <div class="icon-bg bg-violet"></div>
                        </i><span class="menu-title">Sets</span></a>
                    </li>
                        
                     <li><a href="/help"><i class="fa fa-info fa-fw">
                        <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">Documentation</span></a>                       
                    </li>

                    <% if current_user.admin %>
                     <li><a href="/users"><i class="fa fa-users fa-fw">
                        <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">Admin Users</span></a>                       
                    </li>
                     <li><a href="/categories"><i class="fa fa-folder fa-fw">
                        <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">Admin Categories</span></a>                       
                    </li>
                     <li><a href="/documents"><i class="fa fa-file fa-fw">
                        <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">Admin Documents</span></a>                       
                    </li>
                    <%end%>

                    
                </ul>
            </div>
            </nav>
            <!--END SIDEBAR MENU-->
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
               <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb"> 
                    <%= yield(:breadcrumb) if content_for?(:breadcrumb) %>	
                    <div class="clearfix"></div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <p id="notice"><%= sanitize(notice, tags: %w(strong em br), attributes: []) if notice.present? %></p>
                    
                    <%= yield(:main_body) if content_for?(:main_body) %>	
                </div>
                <!--END CONTENT-->
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
     <%= javascript_include_tag 'vendor_libs' %>
     <%= yield(:javascript) if content_for?(:javascript) %>

</body>
</html>
